/* =================================
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  line-height: 1.5;
  color: #222222;
  text-align: left;
  font-size: 16px;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
  padding: 0 1em;
}

h1, h3 {
  font-family: 'Droid Sans', sans-serif;
  color: #111;
}

.videoWrapper {
  max-width: 100%;
}

.transcript {
  padding: 1em;
}



a {
  text-decoration: none;
  color: #000;
}

/* -- Containers and wrappers -- */
.wrapper {
  width: 100%;
}



/* =================================
  Media Queries
==================================== */
@media (min-width: 769px) {
  .wrapper {
    margin: 0 auto;
    padding: 0;
  }

  h2 {
      font-size: 1em;
    }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media (min-width: 1024px) {
  .wrapper {
    background-color: rgb(241, 198, 208);
  }
  .container {
    max-width: 980px;
    margin: 0 auto;
  }
}
