// ==========================================================================
// Video styles
// ==========================================================================
.img {

}

.videoWrapper {
 max-width: 760px;
 margin: 0 auto;
}

.transcript {
 padding: 1em;
 @include mq(medium) {
   padding: 0;

 }
}

.videoWrapper .mejs__controls {
  background-color: rgba(255, 165, 0, 0.35);
}
