// ==========================================================================
// Video styles
// ==========================================================================
.img {

}

.videoWrapper {
 max-width: 760px;
 margin: 0 auto;
}

.transcript {
 padding: 1em;
 @include mq(medium) {
   padding: 0;

 }
}
